html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin-bottom: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}
